body {
	background-color: Gainsboro;
}

/*Graph*/
  canvas {
    width: 80% !important;
    height: 50% !important;
	margin-top: 1%;
	margin-left: 8%;
  }
  

/*Page Heading*/
.Name {
	line-height: 0.2;
	border: 4px solid white;
	border-radius: 0px;
	box-shadow: 0px 0px 10px black;
	background: white;
	color: DimGrey;
	text-align: center;
	font-size: 1rem;
	font-weight: normal;
	font-family:"Monaco";
}

/*Navigation blocks*/
.navigation a:link, a:visited {
  background-color: White;
  opacity: 0.5;
  color: black;
  padding: 0.5% 4%;
  width: 25.3%;
  text-align: center;
  text-decoration: none;
  box-shadow: 0px 10px 10px DimGrey;
  display: inline-block;
  border-radius: 0px;
  font-weight: normal;
  font-family:"Monaco";
  font-size: 1rem;
  float: left;
}

/*Navigation blocks - When hovered over with mouse*/
.navigation a:hover {
  background-color: Gainsboro;
}

/*Navigation blocks - When clicked*/
.navigation a:active {
	background-color: Grey;
	opacity: 1;
	transform: translateY(4px);
}

/*Navigation blocks - Current being used*/
#active {
  opacity: 100;
}

/*Change styling of all buttons related to chart */
.button2, .button3, .button4 {
  display: inline-block;
  padding: 1% 2%;
  font-size: 80%;
  font-family: "Monaco"; 
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: Black;
  background-color: White;
  border: none;
  border-radius: 15px;
  box-shadow: 0 3px #999;
  margin-left: 15%;
  margin-top: 1%;

}

/*location for button2*/
.button2 {
  position: absolute;
  top: 20%;
  left: -12%;
}

/*location for button3*/
.button3 {
  position: absolute;
  top: 30%;
  left: -12%;
}

/*location for button4*/
.button4 {
  position: absolute;
  top: 40%;
  left: -12%;
}

/*When buttons are hovered over*/
.button2:hover, .button3:hover, .button4:hover{
	background-color: Grey;
	color: white;
}

/*When buttons are clicked*/
.button2:active, .button3:active, .button4:active  {
	transform: translateY(4px);
}

/*Location text*/
.chart {
	text-align: center;
	font-weight: bold;
	margin-top: 5%;
	text-decoration: none;
	font-family:"Monaco";
	font-size: 120%;
	color: DimGrey;
	text-transform: uppercase;
	border: 5px solid white;
	padding: 2%;
}




