body {

	background-color: white;
	font-family: "Georgia";
}

h2 {
	text-align: center;
	font-size: 2.5rem;
	color: darkred;
	border: 1px solid darkred;
}

p {
	border-bottom: 1px solid darkred;
}

.desc {
	text-align: left;
	font-size: 1.6rem;
	color: darkred;
	font-weight: bold;
}
.Title {
	text-align: center;
	color: black;
	text-decoration: underline;
	position: absolute;
	top: 7.2rem;
	left: 44vw;
}

#description {
	font-size: 1.3rem;
	color: black;
	font-weight: normal;
}

.ISBN {
font-weight: bold;
font-size: 1.2rem;
color: black;
position: absolute;
top: 30rem;
border: 2px dotted black;
width: auto;

}

button {
	float: left;
	background: darkred;
	padding: 10px 15px;
	color: #fff;
	border-radius: 5px;
	margin-right: 10px;
	border: none;
}
button:hover{
	opacity: .7;
}