body {
	background-color: Gainsboro;
}

/*Page Heading*/
.Name {
	line-height: 0.2;
	border: 4px solid white;
	border-radius: 0px;
	box-shadow: 0px 0px 10px black;
	background: white;
	color: DimGrey;
	text-align: center;
	font-size: 1rem;
	font-weight: normal;
	font-family:"Monaco";
}

/*Navigation blocks*/
.navigation a:link, a:visited {
  background-color: White;
  opacity: 0.5;
  color: black;
  padding: 0.5% 4%;
  width: 25.3%;
  text-align: center;
  text-decoration: none;
  box-shadow: 0px 10px 10px DimGrey;
  display: inline-block;
  border-radius: 0px;
  font-weight: normal;
  font-family:"Monaco";
  font-size: 1rem;
  float: left;
}

/*Navigation blocks - When hovered over with mouse*/
.navigation a:hover {
  background-color: Gainsboro;
}

/*Navigation blocks - When clicked*/
.navigation a:active {
	background-color: Grey;
	opacity: 1;
	transform: translateY(4px);
}

/*Navigation blocks - Current being used*/
#active {
  opacity: 100;
  background-color: white;
}

.button1 {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: black;
  font-family: "Arial";
  font-size: 1.5vw;
  font-weight: 400;
  padding: 0.7vw;
  transition: all 250ms;
  width: 20%;
  position : absolute;
  top: 7rem;
  left: 40.5vw;
}

.button1:hover,
.button1:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
    transform: translateY(-1px);
}

.button1:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}




.container {
	border: 2px solid white;
	box-shadow: 0px 10px 10px DimGrey;
	background-color: White;
	margin-top: 7rem;
	font-family: "Verdana";
	font-size: 1.5vw;
	padding-bottom: 2%;

	

}

.BookNum {
	font-size: 1.7vw;

}

.BookTitle {
	font-size: 2.5vw;
	padding-left: 46%;
}

.BookISBN {
	font-size: 1.7vw;
}

.BookViewmore a:link, a:visited {
  background-color: Gainsboro;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: black;
  font-family: "Arial";
  font-size: 1.5vw;
  font-weight: 400;
  text-decoration: none;
  padding-left: 0.1vw;
  float: left;
  margin-top: 0.3%;
  margin-left: 1%;
  transition: all 250ms;
  width: auto;
  padding: 0.5%;
  
}

.BookViewmore a:hover {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: grey;
  transform: translateY(-1px);
}
.BookViewmore a:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}