body {
	background: Grey;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
}

*{
	font-family: sans-serif;
	box-sizing: border-box;
}

form{
	width: 50%;
	border: 2px solid #ccc;
	padding: 40px;
	background: #ffff;
	border-radius: 15px;
	position: absolute;
	top: 14vw;
	left: 24vw;
}

h2 {
	text-align: center;
	margin-bottom: 40px;
}

input {
	display: block;
	border: 2px solid #ccc;
	width: 95%;
	padding: 10px;
	margin: 10px auto;
	border-radius: 5px;
}
label {
	color: #888;
	font-size: 18px;
	padding: 10px;
}


button {
	float: right;
	background: #555;
	padding: 10px 15px;
	color: #fff;
	border-radius: 5px;
	margin-right: 10px;
	border: none;
}
button:hover{
	opacity: .7;
}
.error {
   background: #F2DEDE;
   color: #A94442;
   padding: 10px;
   width: 95%;
   border-radius: 5px;
   margin: 20px auto;
}

.valid {
   background: #def2e5;
   color: green;
   padding: 10px;
   width: auto;
   border-radius: 5px;
   font-size: 15px;
}

a {
	float: right;
	background: #555;
	padding: 10px 15px;
	color: #fff;
	border-radius: 5px;
	margin-right: 10px;
	border: none;
	text-decoration: none;
	position: absolute;
	top: 65vw;
	left: 65vw;
	z-index: 1;
	margin: auto;
	
a:hover {
	opacity: .7;
}


